# Mercado Pago
# No teste de Assinaturas, o token abaixo deve ser o Access Token de PRODUÇÃO
# da aplicação criada enquanto você estiver logado na conta VENDEDOR DE TESTE.
MERCADOPAGO_MODE=test
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_TEST_PAYER_EMAIL=
MERCADOPAGO_WEBHOOK_SECRET=
FLUXTOK_STARTER_PRICE=49.90
FLUXTOK_PRO_PRICE=79.90
